*.o
*.so
*~
malloc
objsizes
TAGS

# ignore the gcov output
*.gcov
*.gcno
*.gcda

# vim YouCompleteMe database files
compile_commands.json
*/compile_commands.json

# vim
.*.swp
*/.*.swp

# gdb
gdb.txt
*/gdb.txt
.gdb_history
*/.gdb_history

# archives
libsupermalloc-*.tar.gz

stage/
